<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<meta
  http-equiv="Content-Security-Policy"
  content="script-src https://gc.zgo.at https://*.twitter.com/ 'self' 'unsafe-inline'; img-src https://zediogoviana.goatcounter.com/count https://cdn.sanity.io/ 'self';"/>
<script data-goatcounter="https://zediogoviana.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

</body>
</html>
